body {
	background: url("masthead_image.png");
	color: #000;
	font-family: 'Lato', sans-serif;
}

h1 {
	font-size: 75px;
	text-align: center;
	color: #005b7f
}

h2 {
	color: #005b7f
}

h3 {
	font-size: 30px;
	font-style: italic;
	text-align: center;
	color: #005b7f;
}

hr {
	width: 800px;
}

p {
	font-family: 'Noto Serif TC', serif;
	font-size: 18px;
	text-align: left;

}

nav {
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
}

header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}

article {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
}

aside {
	background-color: #FFC675;
	border: 1px black solid;
	padding: 20px;
}

footer {
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
}

section {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}
